@charset "utf-8";
/* CSS Document */

body {
	opacity: 0; 
    transition: opacity 2s;
	background-color: black;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* hide scroll bars on Chrome, Safari and Opera*/
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}







img.filmmakingpic {
	border-radius: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #005CFF;
  color: white;
}


a {
	font-family: 'Lexend Deca', sans-serif;
}


p {
	color: white;
	font-size: 20px;
	font-family: 'Lexend Deca', sans-serif;
	width: 70%;
	text-align: center;
	margin: auto;
}

a.links:link {
	color: aqua;
}

a.links:visited {
	color: aqua;
}

a.links:hover {
	color: aqua;
}

iframe {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

hr {
	border-top: 1px solid black;
}


#container {
	height: 200px;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.box1, .box2 {
	width: 300px;
	height: 125px;
    vertical-align: top;
    display: inline-block;
}

.stretch {
	width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

img.icons {
	display: inline-block;
}

div.nav3 {
	text-align: center;
}

.socialmedia {
	padding: 15px;
}


p.footer {
	color: white;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 12px;
	text-align: center;
}

div.footer {
	color: white;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 12px;
	text-align: center;
}
